body {
    background: #f6f6f6
}

.artist-button {
    outline: 0;
    border: none;
    background: none;
    width: 18rem;
}

#albumContainer {
    display: none;
    /* peittää asiat */
}

.album-card {
    width: 18rem;
}

#error-message {
    color: red;
    display: none;
}

.card-body {
    height: 100px;
}

.active-album {
    background-color: #fff;
    display: flex;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}