body {
    background: #f6f6f6
}

.artist-button {
    outline: 0;
    border: none;
    background: none;
    width: 18rem;
}

#albumContainer {
    display: none;
    /* peittää asiat */
}

.album-card {
    width: 18rem;
}

#error-message {
    color: red;
    display: none;
}

.card-body {
    height: 70px;
    ;
}